* {
  outline: none;
}
body {
  background: #f6f9fa;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #67757c;
}
html {
  position: relative;
  min-height: 100%;
  background: #ffffff;
}
a:focus,
a:hover {
  text-decoration: none;
}
a.link {
  color: #455a64;
}
a.link:focus,
a.link:hover {
  color: #112233;
}
.img-responsive,
.carousel.vertical .carousel-inner > .item > img,
.carousel.vertical .carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.img-rounded {
  border-radius: 4px;
}
.mdi-set,
.mdi:before {
  line-height: initial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #455a64;
  font-weight: 400;
}
h1 {
  line-height: 40px;
  font-size: 36px;
}
h2 {
  line-height: 36px;
  font-size: 24px;
}
h3 {
  line-height: 30px;
  font-size: 21px;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}
h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.display-5 {
  font-size: 3rem;
}
.display-6 {
  font-size: 36px;
}
.box {
  border-radius: 4px;
  padding: 10px;
}
#main-wrapper {
  width: 100%;
}
.bg-white .card {
  box-shadow: none;
}
.box-shadow {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05) !important;
}
.boxed #main-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}
.boxed #main-wrapper .sidebar-footer {
  position: absolute;
}
.boxed #main-wrapper .footer {
  display: none;
}
.menu-collapsed>#main-wrapper>.page-wrapper,.menu-expanded>#main-wrapper>.page-wrapper {
  background: #f6f9fa;
  margin-left:70px;
}
.pcoded-inner-content {
    padding: 10px;
    background: #f6f9fa;
    margin-top: 56px;
    min-height: calc(100vh - 232px);
    -webkit-box-shadow: 0 -4px 4px -2px rgba(43,43,43,.1);
    box-shadow: 0 -4px 4px -2px rgba(43,43,43,.1);
}
.container-fluid {
  padding: 0 0px 25px;
}
.pcoded-inner-content .main-body {
    margin-top: -70px;
}
.main-body .page-wrappers {
    padding: .6rem 1.5rem;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
	margin-left: 0px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.hide {
  display: none;
}
.img-circle {
  border-radius: 100%;
}
.radius {
  border-radius: 4px;
}
.col-xlg-1,
.col-xlg-10,
.col-xlg-11,
.col-xlg-12,
.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-5,
.col-xlg-6,
.col-xlg-7,
.col-xlg-8,
.col-xlg-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.input-group-addon [type=checkbox]:checked,
.input-group-addon [type=checkbox]:not(:checked),
.input-group-addon [type=radio]:checked,
.input-group-addon [type=radio]:not(:checked) {
  position: initial;
  opacity: 1;
}
.invisible {
  visibility: hidden !important;
}
.hidden-xs-up {
  display: none !important;
}

a,
button {
  outline: none!important;
  text-decoration: none!important;
  color: #99abb4;
  transition: all 0.2s ease 0s;
}
a.active,
button.active,
a:focus,
button:focus,
a:hover,
button:hover {
  color: #252525;
  outline: none!important;
  text-decoration: none!important;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  font-family: 'Poppins', sans-serif;
  color: #99abb4;
}
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6.h1 {
  color: #455a64;
  font-family: montserrat,sans-serif;
}
.dib {
  display: inline-block;
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
#main-content {
  padding: 0 15px;
}
.alert h4 {
  color: #455a64;
}
.border-none {
  border: 1px solid transparent;
}

.hidden-xl-down {
  display: none !important;
}

.bar-hidden {
  overflow-X: hidden;
}
.color-white {
  color: #ffffff;
}

ul.list-style-none {
  margin: 0;
  padding: 0;
}
ul.list-style-none li {
  list-style: none;
}
ul.list-style-none li a {
  color: #67757c;
  padding: 8px 0;
  display: block;
  text-decoration: none;
}
ul.list-style-none li a:hover {
  color: #112233;
}
.media-text-right {
  text-align: right;
}
.media-text-left {
  text-align: left;
}
/*    Font Variable
----------------------*/
/*    Color Variable
-----------------------*/
/*    Solid Color
------------------*/
/*    Brand color
----------------------*/
.card {
  margin-bottom: 30px;
}
.card .card-subtitle {
  color: #99abb4;
  font-weight: 300;
  margin-bottom: 15px;
}
.card-inverse .card-bodyquote .blockquote-footer {
  color: rgba(255, 255, 255, 0.65);
}
.card-inverse .card-link {
  color: rgba(255, 255, 255, 0.65);
}
.card-inverse .card-subtitle {
  color: rgba(255, 255, 255, 0.65);
}
.card-inverse .card-text {
  color: rgba(255, 255, 255, 0.65);
}
.card-success {
  background: #26dad2 none repeat scroll 0 0;
  border-color: #26dad2;
}
.card-danger {
  background: #ef5350 none repeat scroll 0 0;
  border-color: #ef5350;
}
.card-warning {
  background: #ffb22b none repeat scroll 0 0;
  border-color: #ffb22b;
}
.card-info {
  background: #112233 none repeat scroll 0 0;
  border-color: #112233;
}
.card-primary {
  background: #5c4ac7 none repeat scroll 0 0;
  border-color: #5c4ac7;
}
.card-dark {
  background: #2f3d4a none repeat scroll 0 0;
  border-color: #2f3d4a;
}
.card-megna {
  background: #00897b none repeat scroll 0 0;
  border-color: #00897b;
}
.card-actions {
  float: right;
}
.card-actions a {
  color: #67757c;
  cursor: pointer;
  font-size: 13px;
  opacity: 0.7;
  padding-left: 7px;
}
.card-actions a:hover {
  opacity: 1;
}
.card-columns .card {
  margin-bottom: 20px;
}
.collapsing {
  transition: height 0.08s ease 0s;
}
.card-outline-info {
  border-color: #112233;
}
.card-outline-info .card-header {
  background: #112233 none repeat scroll 0 0;
  border-color: #112233;
}
.card-outline-inverse {
  border-color: #2f3d4a;
}
.card-outline-inverse .card-header {
  background: #2f3d4a none repeat scroll 0 0;
  border-color: #2f3d4a;
}
.card-outline-warning {
  border-color: #ffb22b;
}
.card-outline-warning .card-header {
  background: #ffb22b none repeat scroll 0 0;
  border-color: #ffb22b;
}
.card-outline-success {
  border-color: #26dad2;
}
.card-outline-success .card-header {
  background: #26dad2 none repeat scroll 0 0;
  border-color: #26dad2;
}
.card-outline-danger {
  border-color: #ef5350;
}
.card-outline-danger .card-header {
  background: #ef5350 none repeat scroll 0 0;
  border-color: #ef5350;
}
.card-outline-primary {
  border-color: #5c4ac7;
}
.card-outline-primary .card-header {
  background: #5c4ac7 none repeat scroll 0 0;
  border-color: #5c4ac7;
}
.card-body {
    padding: 0px 20px 15px 20px;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 12px 5px -10px rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 12px 5px -10px rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.1);
    border: 0;
    margin-bottom: 30px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.card-subtitle {
  font-size: 12px;
  margin: 10px 0;
}
.card .card-title {
    background-color: transparent;
    border-bottom: 0;
    padding: 20px 30px;
    position: relative;
}
.card .card-title h4 {
    margin-bottom: 10px;
    color: #112233;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
}
.card .card-title h4:after {
    content: "";
    background-color: #fb4848;
    width: 30px;
    height: 2px;
    position: absolute;
    top: -22px;
    left: 0;
}
.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.card-title h4 {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.card-title p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 12px;
}
.vtabs {
  display: table;
}
.vtabs .tabs-vertical {
  border-bottom: 0 none;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
  display: table-cell;
  vertical-align: top;
  width: 150px;
}
.vtabs .tabs-vertical li .nav-link {
  border: 0 none;
  border-radius: 4px 0 0 4px;
  color: #263238;
  margin-bottom: 10px;
}
.vtabs .tab-content {
  display: table-cell;
  padding: 20px;
  vertical-align: top;
}
.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link.active:focus,
.tabs-vertical li .nav-link:hover {
  background: #112233 none repeat scroll 0 0;
  border: 0 none;
  color: #ffffff;
}
.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:focus,
.customvtab .tabs-vertical li .nav-link:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ffffff none repeat scroll 0 0;
  border-color: currentcolor #112233 currentcolor currentcolor;
  border-image: none;
  border-style: none solid none none;
  border-width: 0 2px 0 0;
  color: #112233;
  margin-right: -1px;
}
.tabcontent-border {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor #ddd #ddd;
  border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}
.customtab2 li a.nav-link {
  border: 0 none;
  color: #67757c;
  margin-right: 3px;
}
.customtab2 li a.nav-link.active {
  background: #112233 none repeat scroll 0 0;
  color: #ffffff;
}
.customtab2 li a.nav-link:hover {
  background: #112233 none repeat scroll 0 0;
  color: #ffffff;
}

.modal-header .close {
  font-size: 14px;
  margin-right: 15px;
  margin-top: 5px;
}
.modal-content {
  border-radius: 3px;
}

.panel {
  border-radius: 0;
  margin: 15px 0;
}
.panel-body {
  font-family: 'Poppins', sans-serif;
}
.panel-primary {
  border-color: #4680ff;
}
.panel-primary .panel-heading {
  background: #4680ff;
  border-color: #4680ff;
  color: #ffffff;
}
.panel-success {
  border-color: #26dad2;
}
.panel-success .panel-heading {
  background: #26dad2;
  border-color: #26dad2;
  color: #ffffff;
}
.panel-info {
  border-color: #62d1f3;
}
.panel-info .panel-heading {
  background: #62d1f3;
  border-color: #62d1f3;
  color: #ffffff;
}
.panel-danger {
  border-color: #fc6180;
}
.panel-danger .panel-heading {
  background: #fc6180;
  border-color: #fc6180;
  color: #ffffff;
}
.panel-warning {
  border-color: #ffb64d;
}
.panel-warning .panel-heading {
  background: #ffb64d;
  border-color: #ffb64d;
  color: #ffffff;
}
.panel-pink {
  border-color: #e6a1f2;
}
.panel-pink .panel-heading {
  background: #e6a1f2;
  border-color: #e6a1f2;
  color: #ffffff;
}
.panel-dark {
  border-color: #444c67;
}
.panel-dark .panel-heading {
  background: #444c67;
  border-color: #444c67;
  color: #ffffff;
}
.panel-white {
  border-color: #252525;
}
.panel-white .panel-heading {
  background: #ffffff;
  border-color: #252525;
  color: #252525;
}
.recent-comment{
	padding:15px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 35px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
