.btn-btn {
  padding: 15px 25px;
  border: 0;
}
.btn-btn:hover {
  color: #ffffff;
}
.solid-btn {
  padding: 15px 42px;
}
.dropdown-item {
  padding: 8px 1rem;
  color: #67757c;
}
.custom-select {
  background: url("../../images/custom-select.png") right 0.75rem center no-repeat;
}
textarea {
  resize: none;
}
.badge {
  font-weight: 400;
}
.badge-xs {
  font-size: 9px;
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-success {
  background-color: #26dad2;
}
.badge-info {
  background-color: #112233;
}
.badge-primary {
  background-color: #5c4ac7;
}
.badge-warning {
  background-color: #ffb22b;
}
.badge-danger {
  background-color: #ef5350;
}
.badge-purple {
  background-color: #7460ee;
}
.badge-red {
  background-color: #fb3a3a;
}
.badge-inverse {
  background-color: #2f3d4a;
}
.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
}
.label-rounded {
  border-radius: 60px;
}
.label-custom {
  background-color: #00897b;
}
.label-success {
  background-color: #26dad2;
}
.label-info {
  background-color: #112233;
}
.label-warning {
  background-color: #ffb22b;
}
.label-danger {
  background-color: #ef5350;
}
.label-megna {
  background-color: #00897b;
}
.label-primary {
  background-color: #5c4ac7;
}
.label-purple {
  background-color: #7460ee;
}
.label-red {
  background-color: #fb3a3a;
}
.label-inverse {
  background-color: #2f3d4a;
}
.label-default {
  background-color: #f2f4f8;
}
.label-white {
  background-color: #ffffff;
}
.label-light-success {
  background-color: #e8fdeb;
  color: #26dad2;
}
.label-light-info {
  background-color: #cfecfe;
  color: #112233;
}
.label-light-warning {
  background-color: #fff8ec;
  color: #ffb22b;
}
.label-light-danger {
  background-color: #f9e7eb;
  color: #ef5350;
}
.label-light-megna {
  background-color: #e0f2f4;
  color: #00897b;
}
.label-light-primary {
  background-color: #f1effd;
  color: #5c4ac7;
}
.label-light-inverse {
  background-color: #f6f6f6;
  color: #2f3d4a;
}
.breadcrumb {
  margin-bottom: 0;
}
.btn {
  padding: 7px 12px;
  cursor: pointer;
}
.btn-group label {
  color: #ffffff !important;
  margin-bottom: 0;
}
.btn-group label.btn-secondary {
  color: #67757c !important;
}
.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.btn-md {
  padding: 12px 55px;
  font-size: 16px;
}
.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.btn-circle.btn-sm {
  width: 35px;
  height: 35px;
  padding: 8px 10px;
  font-size: 14px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 22px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 14px 15px;
  font-size: 24px;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
}
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 10px;
}
.button-list a {
  margin: 5px 12px 5px 0;
}
.button-list button {
  margin: 5px 12px 5px 0;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-rounded {
  border-radius: 60px;
  padding: 7px 18px;
}
.btn-rounded.btn-lg {
  padding: 0.75rem 1.5rem;
}
.btn-rounded.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
}
.btn-rounded.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 10px;
}
.btn-rounded.btn-md {
  padding: 12px 35px;
  font-size: 16px;
}
.btn-secondary {
  -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #67757c;
  border-color: #b1b8bb;
}
.btn-secondary:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary:focus {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary.disabled {
  -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: #ffffff;
  color: #67757c;
  border-color: #b1b8bb;
}
.btn-secondary.disabled:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary.disabled:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary.disabled:focus {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-secondary.disabled.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-primary {
  background: #112233;
  border: 1px solid #112233;
  -webkit-box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-primary:hover {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  border: 1px solid #112233;
}
.btn-primary:active {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
}
.btn-primary:active:focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary:active:hover {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary:focus {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary.disabled {
  background: #5c4ac7;
  border: 1px solid #5c4ac7;
  -webkit-box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-primary.disabled:hover {
  background: #5c4ac7;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  border: 1px solid #5c4ac7;
}
.btn-primary.disabled:active {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
}
.btn-primary.disabled:focus {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
}
.btn-primary.active {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
}
.btn-primary.active:focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary.active:hover {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary.disabled.active {
  background: #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
}
.btn-themecolor {
  background: #112233;
  color: #ffffff;
  border: 1px solid #112233;
}
.btn-themecolor:hover {
  background: #112233;
  opacity: 0.7;
  border: 1px solid #112233;
}
.btn-themecolor:active {
  background: #028ee1;
}
.btn-themecolor:focus {
  background: #028ee1;
}
.btn-themecolor.disabled {
  background: #112233;
  color: #ffffff;
  border: 1px solid #112233;
}
.btn-themecolor.disabled:hover {
  background: #112233;
  opacity: 0.7;
  border: 1px solid #112233;
}
.btn-themecolor.disabled:active {
  background: #028ee1;
}
.btn-themecolor.disabled:focus {
  background: #028ee1;
}
.btn-themecolor.active {
  background: #028ee1;
}
.btn-themecolor.disabled.active {
  background: #028ee1;
}
.btn-success {
  background: #26dad2;
  border: 1px solid #26dad2;
  -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-success:hover {
  background: #26dad2;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  border: 1px solid #26dad2;
}
.btn-success:active {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-success:active:focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success:active:hover {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success:focus {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success.disabled {
  background: #26dad2;
  border: 1px solid #26dad2;
  -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-success.disabled:hover {
  background: #26dad2;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  border: 1px solid #26dad2;
}
.btn-success.disabled:active {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-success.disabled:focus {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-success.active {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-success.active:focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success.active:hover {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success.disabled.active {
  background: #1eacbe;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-info {
  background: #112233;
  border: 1px solid #112233;
  -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-info:hover {
  background: #112233;
  border: 1px solid #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info:active {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info:active:focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info:active:hover {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info:focus {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info.disabled {
  background: #112233;
  border: 1px solid #112233;
  -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-info.disabled:hover {
  background: #112233;
  border: 1px solid #112233;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info.disabled:active {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info.disabled:focus {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info.active {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-info.active:focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info.active:hover {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info.disabled.active {
  background: #028ee1;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-warning {
  background: #ffb22b;
  -webkit-box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  border: 1px solid #ffb22b;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #ffffff;
}
.btn-warning:hover {
  background: #ffb22b;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  border: 1px solid #ffb22b;
}
.btn-warning:active {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-warning:active:focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning:active:hover {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning:focus {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning.disabled {
  background: #ffb22b;
  -webkit-box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  border: 1px solid #ffb22b;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #ffffff;
}
.btn-warning.disabled:hover {
  background: #ffb22b;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  border: 1px solid #ffb22b;
}
.btn-warning.disabled:active {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-warning.disabled:focus {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-warning.active {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-warning.active:focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning.active:hover {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning.disabled.active {
  background: #e9ab2e;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-danger {
  background: #ef5350;
  border: 1px solid #ef5350;
  -webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-danger:hover {
  background: #ef5350;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  border: 1px solid #ef5350;
}
.btn-danger:active {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-danger:active:focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger:active:hover {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger:focus {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger.disabled {
  background: #ef5350;
  border: 1px solid #ef5350;
  -webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-danger.disabled:hover {
  background: #ef5350;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  border: 1px solid #ef5350;
}
.btn-danger.disabled:active {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-danger.disabled:focus {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-danger.active {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-danger.active:focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger.active:hover {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger.disabled.active {
  background: #e6294b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-inverse {
  background: #2f3d4a;
  border: 1px solid #2f3d4a;
  color: #ffffff;
}
.btn-inverse:hover {
  background: #2f3d4a;
  opacity: 0.7;
  color: #ffffff;
  border: 1px solid #2f3d4a;
  background-color: #232a37;
  border: 1px solid #232a37;
}
.btn-inverse:active {
  background: #232a37;
  color: #ffffff;
  background-color: #232a37;
  border: 1px solid #232a37;
}
.btn-inverse:focus {
  background: #232a37;
  color: #ffffff;
  background-color: #232a37;
  border: 1px solid #232a37;
}
.btn-inverse.disabled {
  background: #2f3d4a;
  border: 1px solid #2f3d4a;
  color: #ffffff;
}
.btn-inverse.disabled:hover {
  background: #2f3d4a;
  opacity: 0.7;
  color: #ffffff;
  border: 1px solid #2f3d4a;
}
.btn-inverse.disabled:active {
  background: #232a37;
  color: #ffffff;
}
.btn-inverse.disabled:focus {
  background: #232a37;
  color: #ffffff;
}
.btn-inverse.active {
  background: #232a37;
  color: #ffffff;
  background-color: #232a37;
  border: 1px solid #232a37;
}
.btn-inverse.disabled.active {
  background: #232a37;
  color: #ffffff;
}
.btn-red {
  background: #fb3a3a;
  border: 1px solid #fb3a3a;
  color: #ffffff;
}
.btn-red:hover {
  opacity: 0.7;
  border: 1px solid #fb3a3a;
  background: #fb3a3a;
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.btn-red:active {
  background: #e6294b;
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.btn-red:focus {
  background: #e6294b;
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.btn-red.disabled {
  background: #fb3a3a;
  border: 1px solid #fb3a3a;
  color: #ffffff;
}
.btn-red.disabled:hover {
  opacity: 0.7;
  border: 1px solid #fb3a3a;
  background: #fb3a3a;
}
.btn-red.disabled:active {
  background: #e6294b;
}
.btn-red.disabled:focus {
  background: #e6294b;
}
.btn-red.active {
  background: #e6294b;
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.btn-red.disabled.active {
  background: #e6294b;
}
.btn-outline-secondary {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  box-shadow: 0 2px 2px 0 rgba(169, 169, 169, 0.14), 0 3px 1px -2px rgba(169, 169, 169, 0.2), 0 1px 5px 0 rgba(169, 169, 169, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-secondary:focus {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-outline-secondary:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-outline-secondary:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-outline-secondary.focus {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-outline-secondary.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);
}
.btn-outline-primary {
  color: #5c4ac7;
  background-color: #ffffff;
  border-color: #5c4ac7;
  -webkit-box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  box-shadow: 0 2px 2px 0 rgba(17, 34, 51, 0.14), 0 3px 1px -2px rgba(17, 34, 51, 0.2), 0 1px 5px 0 rgba(17, 34, 51, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-primary:focus {
  background: #5c4ac7;
  color: #ffffff;
  border-color: #5c4ac7;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  background: #112233;
}
.btn-outline-primary:hover {
  background: #5c4ac7;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  color: #ffffff;
  border-color: #5c4ac7;
}
.btn-outline-primary:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  background: #112233;
}
.btn-outline-primary.focus {
  background: #5c4ac7;
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  color: #ffffff;
  border-color: #5c4ac7;
}
.btn-outline-primary.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  box-shadow: 0 14px 26px -12px rgba(17, 34, 51, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(17, 34, 51, 0.2);
  background: #112233;
}
.btn-outline-success {
  color: #26dad2;
  background-color: transparent;
  border-color: #26dad2;
  -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-success:focus {
  background: #26dad2;
  border-color: #26dad2;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  background: #1eacbe;
}
.btn-outline-success:hover {
  background: #26dad2;
  border-color: #26dad2;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-outline-success:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  background: #1eacbe;
}
.btn-outline-success.focus {
  background: #26dad2;
  border-color: #26dad2;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
}
.btn-outline-success.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
  background: #1eacbe;
}
.btn-outline-info {
  color: #112233;
  background-color: transparent;
  border-color: #112233;
  -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-info:focus {
  background: #112233;
  border-color: #112233;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  background: #028ee1;
}
.btn-outline-info:hover {
  background: #112233;
  border-color: #112233;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-outline-info:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  background: #028ee1;
}
.btn-outline-info.focus {
  background: #112233;
  border-color: #112233;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
}
.btn-outline-info.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  background: #028ee1;
}
.btn-outline-warning {
  color: #ffb22b;
  background-color: transparent;
  border-color: #ffb22b;
  -webkit-box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(248, 194, 0, 0.14), 0 3px 1px -2px rgba(248, 194, 0, 0.2), 0 1px 5px 0 rgba(248, 194, 0, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-warning:focus {
  background: #ffb22b;
  border-color: #ffb22b;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  background: #e9ab2e;
}
.btn-outline-warning:hover {
  background: #ffb22b;
  border-color: #ffb22b;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-outline-warning:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  background: #e9ab2e;
}
.btn-outline-warning.focus {
  background: #ffb22b;
  border-color: #ffb22b;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
}
.btn-outline-warning.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  background: #e9ab2e;
}
.btn-outline-danger {
  color: #ef5350;
  background-color: transparent;
  border-color: #ef5350;
  -webkit-box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.btn-outline-danger:focus {
  background: #ef5350;
  border-color: #ef5350;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-danger:hover {
  background: #ef5350;
  border-color: #ef5350;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-outline-danger:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-danger.focus {
  background: #ef5350;
  border-color: #ef5350;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-outline-danger.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-red {
  color: #fb3a3a;
  background-color: transparent;
  border-color: #fb3a3a;
}
.btn-outline-red:focus {
  background: #fb3a3a;
  border-color: #fb3a3a;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-red:hover {
  background: #fb3a3a;
  border-color: #fb3a3a;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-outline-red:active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-red.focus {
  background: #fb3a3a;
  border-color: #fb3a3a;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
.btn-outline-red.active {
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
  background: #e6294b;
}
.btn-outline-inverse {
  color: #2f3d4a;
  background-color: transparent;
  border-color: #2f3d4a;
}
.btn-outline-inverse:focus {
  background: #2f3d4a;
  border-color: #2f3d4a;
  color: #ffffff;
}
.btn-outline-inverse:hover {
  background: #2f3d4a;
  border-color: #2f3d4a;
  color: #ffffff;
}
.btn-outline-inverse.focus {
  background: #2f3d4a;
  border-color: #2f3d4a;
  color: #ffffff;
}
.btn-primary.active.focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary.focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.btn-primary.focus:active {
  background-color: #112233;
  border: 1px solid #112233;
}
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: #112233;
  border: 1px solid #112233;
}
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #112233;
  border: 1px solid #112233;
}
.open > .dropdown-toggle.btn-success.focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.open > .dropdown-toggle.btn-success:focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.open > .dropdown-toggle.btn-success:hover {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.open > .dropdown-toggle.btn-info.focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.open > .dropdown-toggle.btn-info:focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.open > .dropdown-toggle.btn-info:hover {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.open > .dropdown-toggle.btn-warning.focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.open > .dropdown-toggle.btn-warning:focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.open > .dropdown-toggle.btn-warning:hover {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.open > .dropdown-toggle.btn-danger.focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.open > .dropdown-toggle.btn-danger:focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.open > .dropdown-toggle.btn-danger:hover {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.open > .dropdown-toggle.btn-inverse {
  background-color: #232a37;
  border: 1px solid #232a37;
}
.open > .dropdown-toggle.btn-red {
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.btn-success.active.focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success.focus {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-success.focus:active {
  background-color: #1eacbe;
  border: 1px solid #1eacbe;
}
.btn-info.active.focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info.focus {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-info.focus:active {
  background-color: #028ee1;
  border: 1px solid #028ee1;
}
.btn-warning.active.focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning.focus {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-warning.focus:active {
  background-color: #e9ab2e;
  border: 1px solid #e9ab2e;
}
.btn-danger.active.focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger.focus {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-danger.focus:active {
  background-color: #e6294b;
  border: 1px solid #e6294b;
}
.btn-inverse.focus {
  background-color: #232a37;
  border: 1px solid #232a37;
}
.btn-red.focus {
  background-color: #d61f1f;
  border: 1px solid #d61f1f;
  color: #ffffff;
}
.button-box .btn {
  margin: 0 8px 8px 0;
}
.btn-label {
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin: -6px 12px -6px -14px;
  padding: 7px 15px;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
}
.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
}
.btn-linkedin {
  color: #ffffff;
  background-color: #007bb6;
}
.btn-dribbble {
  color: #ffffff;
  background-color: #ea4c89;
}
.btn-googleplus {
  color: #ffffff;
  background-color: #dd4b39;
}
.btn-instagram {
  color: #ffffff;
  background-color: #3f729b;
}
.btn-pinterest {
  color: #ffffff;
  background-color: #cb2027;
}
.btn-dropbox {
  color: #ffffff;
  background-color: #007ee5;
}
.btn-flickr {
  color: #ffffff;
  background-color: #ff0084;
}
.btn-tumblr {
  color: #ffffff;
  background-color: #32506d;
}
.btn-skype {
  color: #ffffff;
  background-color: #00aff0;
}
.btn-youtube {
  color: #ffffff;
  background-color: #bb0000;
}
.btn-github {
  color: #ffffff;
  background-color: #171515;
}
/*    Input Style
------------------------*/
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 42px;
  border-radius: 0;
  box-shadow: none;
  border-color: #e7e7e7;
  font-family: 'Poppins', sans-serif;
}
.form-control:hover {
  box-shadow: none;
  border-color: #e7e7e7;
}
.form-control.active,
.form-control:focus {
  box-shadow: none;
  border-color: #112233;
}
.input-default {
  border-radius: 4px;
}
.input-flat {
  border-radius: 0;
}
.input-rounded {
  border-radius: 100px;
}
.input-focus {
  border-color: #4680ff;
}
.input-focus:focus {
  border-color: #4680ff;
}
/*    Search Box Input Button
--------------------------------*/
.input-group-btn .btn {
  padding: 10px 12px;
}
.input-group-default .form-control {
  border-radius: 4px;
}
.input-group-flat .form-control {
  border-radius: 4px;
}
.input-group-flat .btn {
  border-radius: 0;
}
.input-group-rounded .form-control {
  border-radius: 100px;
}
.input-group-rounded .btn-group-left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.input-group-rounded .btn-group-right {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.input-group-close-icon {
  background: none;
  color: #252525;
  border-color: #e7e7e7;
}
.input-group-close-icon.active,
.input-group-close-icon:focus,
.input-group-close-icon:hover {
  background: none;
  border-color: #e7e7e7;
  color: #252525;
}

/*    Input States
-----------------------*/
.has-default .form-control.active,
.has-error .form-control.active,
.has-success .form-control.active,
.has-warning .form-control.active,
.has-default .form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-default .form-control:hover,
.has-error .form-control:hover,
.has-success .form-control:hover,
.has-warning .form-control:hover {
  box-shadow: none;
}
.has-default .control-label {
  color: #878787;
}
.has-default .form-control {
  border-color: #878787;
}
.has-default .form-control.active,
.has-default .form-control:focus,
.has-default .form-control:hover {
  border-color: #878787;
}
.has-success .control-label {
  color: #26dad2;
}
.has-success .form-control {
  border-color: #26dad2;
}
.has-success .form-control.active,
.has-success .form-control:focus,
.has-success .form-control:hover {
  border-color: #26dad2;
}
.has-warning .control-label {
  color: #ffb64d;
}
.has-warning .form-control {
  border-color: #ffb64d;
}
.has-warning .form-control.active,
.has-warning .form-control:focus,
.has-warning .form-control:hover {
  border-color: #ffb64d;
}
.has-error .control-label {
  color: #fc6180;
}
.has-error .form-control {
  border-color: #fc6180;
}
.has-error .form-control.active,
.has-error .form-control:focus,
.has-error .form-control:hover {
  border-color: #fc6180;
}
.has-feedback label ~ .form-control-feedback {
  top: 35px;
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 5px;
}
.has-success .form-control-feedback {
  color: #26dad2;
}
.has-warning .form-control-feedback {
  color: #ffb64d;
}
.has-error .form-control-feedback {
  color: #fc6180;
}
.has-success .input-group-addon {
  background-color: #93ede9;
  border-color: #26dad2;
  color: #26dad2;
}
.has-warning .input-group-addon {
  background-color: #ffeacd;
  border-color: #ffb64d;
  color: #ffb64d;
}
.has-error .input-group-addon {
  background-color: #fedee5;
  border-color: #fc6180;
  color: #fc6180;
}
/*    Input Size
--------------------*/
.input-sm {
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
}
.input-lg {
  font-size: 18px;
  height: 46px;
  line-height: 1.33333;
}
/*    Basic form
----------------------*/
label {
  font-weight: 400;
  margin-bottom: 10px;
}

/*Aleart
-------------*/
.alert-primary {
  background-color: #a2bfff;
  border-color: #a2bfff;
  color: #4680ff;
}
.alert-success {
  background-color: #93ede9;
  border-color: #93ede9;
  color: #26dad2;
}
.alert-warning {
  background-color: #ffeacd;
  border-color: #ffeacd;
  color: #ffb64d;
}
.alert-danger {
  background-color: #fedee5;
  border-color: #fedee5;
  color: #fc6180;
}
.alert-pink {
  background-color: #f8e4fb;
  border-color: #f8e4fb;
  color: #e6a1f2;
}
.alert-dismissable .close,
.alert-dismissible .close {
  color: rgba(0, 0, 0, 0.8);
}
/*    Labels
------------------*/
.label-default {
  background-color: #878787;
}
.label-primary {
  background-color: #4680ff;
}
.label-success {
  background-color: #26dad2;
}
.label-info {
  background-color: #62d1f3;
}
.label-danger {
  background-color: #fc6180;
}
.label-warning {
  background-color: #ffb64d;
}
.file-input {
  position: relative;
  font-size: 14px;
}
.file-input label {
  position: absolute;
  top: -2px;
  right: 0;
  bottom: 0;
  margin: 0;
}
.file-input label:focus {
  outline: none;
  border: none !important;
  background: none !important;
}
.file-input .btn {
  position: absolute;
  right: 6px;
  top: 7px;
  bottom: 6px;
  max-width: 100px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 32px;
}
.file-input .btn input {
  width: 0;
  height: 0;
}
.file-input .file-name {
  float: left;
  width: 100%;
  border: 0;
  background: transparent;
}
@media(max-width:768px){
	.form-group {
		margin-bottom: 5px;
	}
	.form-control{
		height: 30px;
	}
}