.text-white {
  color: #ffffff !important;
}
.text-danger {
  color: #ef5350 !important;
}
.text-muted {
  color: #99abb4 !important;
}
.text-warning {
  color: #ffb22b !important;
}
.text-success {
  color: #26dad2 !important;
}
.text-info {
  color: #112233 !important;
}
.text-inverse {
  color: #2f3d4a !important;
}
.text-blue {
  color: #02bec9;
}
.text-purple {
  color: #7460ee;
}
.text-primary {
  color: #5c4ac7;
}
.text-megna {
  color: #00897b;
}
.text-dark {
  color: #67757c;
}
.text-themecolor {
  color: #112233;
}
.bg-primary {
  background-color: #5c4ac7 !important;
}
.bg-success {
  background-color: #26dad2 !important;
}
.bg-info {
  background-color: #112233 !important;
}
.bg-warning {
  background-color: #ffb22b !important;
}
.bg-danger {
  background-color: #ef5350 !important;
}
.bg-megna {
  background-color: #00897b;
}
.bg-theme {
  background-color: #112233;
}
.bg-inverse {
  background-color: #2f3d4a;
}
.bg-purple {
  background-color: #7460ee;
}
.bg-light-part {
  background-color: rgba(0, 0, 0, 0.02);
}
.bg-light-primary {
  background-color: #f1effd;
}
.bg-light-success {
  background-color: #e8fdeb;
}
.bg-light-info {
  background-color: #cfecfe;
}
.bg-light-extra {
  background-color: #ebf3f5;
}
.bg-light-warning {
  background-color: #fff8ec;
}
.bg-light-danger {
  background-color: #f9e7eb;
}
.bg-light-inverse {
  background-color: #f6f6f6;
}
.bg-light {
  background-color: #f2f4f8;
}
.bg-white {
  background-color: #ffffff;
}


/*    Color Mixins
-------------------*/
.color-primary,
.text-primary {
  color: #4680ff;
}
.color-success,
.text-success {
  color: #26dad2;
}
.color-info,
.text-info {
  color: #62d1f3;
}
.color-danger,
.text-danger {
  color: #fc6180;
}
.color-warning,
.text-warning {
  color: #ffb64d;
}
.color-pink,
.text-pink {
  color: #e6a1f2;
}
.color-dark,
.text-dark {
  color: #444c67;
}
.color-grey,
.text-grey {
  color: #ddd;
}

/*    Background Mixins
--------------------------*/
.bg-primary {
  background: #4680ff !important;
  color: #ffffff;
  fill: #4680ff;
}
.bg-success {
  background: #26dad2 !important;
  color: #ffffff;
  fill: #26dad2;
}
.bg-info {
  background: #62d1f3 !important;
  color: #ffffff;
  fill: #62d1f3;
}
.bg-danger {
  background: #fc6180 !important;
  color: #ffffff;
  fill: #fc6180;
}
.bg-warning {
  background: #ffb64d !important;
  color: #ffffff;
  fill: #ffb64d;
}
.bg-pink {
  background: #e6a1f2 !important;
  color: #ffffff;
  fill: #e6a1f2;
}
.bg-dark {
  background: #444c67 !important;
  color: #ffffff;
  fill: #444c67;
}
.bg-transparent {
  background: transparent;
  color: #252525;
}
.no-select-arrow {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  border: 1px solid #e7e7e7;
}
.bg-ash {
  background: #f5f5f5;
}
.bg-white {
  background: #ffffff;
}
/*    Border Mixins
--------------------------*/
.border-primary {
  border-color: #4680ff;
}
.border-success {
  border-color: #26dad2;
}
.border-info {
  border-color: #62d1f3;
}
.border-danger {
  border-color: #fc6180;
}
.border-warning {
  border-color: #ffb64d;
}
.border-pink {
  border-color: #e6a1f2;
}
.border-dark {
  border-color: #444c67;
}
.no-border {
  border: 0px!important;
}
.border-top {
  border-top: 1px solid #e7e7e7;
}
.border-white {
  border: 1px solid #ffffff;
}
.border-bottom {
  border-bottom: 1px solid #e7e7e7;
}
.border-left {
  border-left: 1px solid #e7e7e7;
}
.border-right {
  border-right: 1px solid #e7e7e7;
}
.white-bottom {
  border-bottom: 1px solid #ffffff;
}
.radius-0 {
  border-radius: 0;
}
/*    Brand Background
-----------------------------*/
.bg-facebook {
  background: #3b5998;
  fill: #3b5998;
}
.bg-twitter {
  background: #1da1f2;
  fill: #1da1f2;
}
.bg-youtube {
  background: #cd201f;
  fill: #cd201f;
}
.bg-google-plus {
  background: #dd4b39;
  fill: #dd4b39;
}
.bg-linkedin {
  background: #007bb6;
}

/* colors */

.c-blue, .cH-blue:hover {
    color: #2196f3!important;
}
.c-brown, .cH-brown:hover {
    color: #795548!important;
}
.c-deep-orange, .cH-deep-orange:hover {
    color: #ff5722!important;
}
.c-deep-purple, .cH-deep-purple:hover {
    color: #673ab7!important;
}
.c-indigo, .cH-indigo:hover {
    color: #3f51b5!important;
}
.c-light-blue, .cH-light-blue:hover {
    color: #03a9f4!important;
}
.c-pink, .cH-pink:hover {
    color: #e91e63!important;
}
.c-orange, .cH-orange:hover {
    color: #ff9800!important;
}
.c-purple, .cH-purple:hover {
    color: #9c27b0!important;
}
.c-red, .cH-red:hover {
    color: #f44336!important;
}
.c-teal, .cH-teal:hover {
    color: #009688!important;
}
.c-siteblue, .cH-siteblue:hover {
    color: #112233!important;
}
.c-sitered, .cH-sitered:hover {
    color: #fb4848!important;
}
.c-blue-new, .cH-blue-new:hover {
    color: #4680ff!important;
}

.login-comp-logo{
	text-align: center;
    margin-bottom: 15px;
}
.btn-sign-log{
	margin-top:30px;
}
.bg-warning-dark {
  background: #e7b63a;
}
.bg-info-dark {
  background: #8b67c9;
}
.bg-danger-dark {
  background: #e63327;
}
.bg-success-dark {
  background: #2ed3aa;
}
.bg-primary-dark {
  background: #0095e1;
}

.blockquote-box .blockquote-primary {
  border-color: #4680ff;
}
.blockquote-box .blockquote-primary .square {
  background-color: #4680ff;
  color: #ffffff;
}
.blockquote-box .blockquote-success {
  border-color: #26dad2;
}
.blockquote-box .blockquote-success .square {
  background-color: #26dad2;
  color: #ffffff;
}
.blockquote-box .blockquote-info {
  border-color: #62d1f3;
}
.blockquote-box .blockquote-info .square {
  background-color: #62d1f3;
  color: #ffffff;
}
.blockquote-box .blockquote-warning {
  border-color: #ffb64d;
}
.blockquote-box .blockquote-warning .square {
  background-color: #ffb64d;
  color: #ffffff;
}
.blockquote-box .blockquote-danger {
  border-color: #d43f3a;
}
.blockquote-box .blockquote-danger .square {
  background-color: #fc6180;
  color: #ffffff;
}
.ct-label {
  color: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
  font-size: 10px;
}
.ct-chart-pie .ct-label {
  color: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #26dad2;
}
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: #4680ff;
}
.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
  stroke: #fc6180;
}
.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
  stroke: #ffb64d;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
  fill: #26dad2;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie {
  fill: #4680ff;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
  fill: #fc6180;
}