.footer {
  background: #ffffff none repeat scroll 0 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  color: #67757c;
  left: 0;
  padding: 17px 15px;
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 13px;
}
.footer > p {
  background: #ffffff;
  margin: 15px -30px 0;
  padding: 15px 45px;
  text-align: left;
}
.footer > p a {
  color: #4680ff;
}
.footer>a{
	color:#112233;
	font-weight:600; 	
}
