@media (min-width: 768px)
{
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
}
.modal>.modal-dialog{
	top:10%;
}
@media(max-width:768px){
	.modal>.modal-dialog {
		width: 90%;
		margin: 0px auto;
	}
}
/** bank loan starts **/
.modal-header {
    background-color: #112233;
    border: none;
}
.modal-header>h4 {
    color: #fff;
    font-size: 17px;	
    text-align: center;
	width: 100%;
}
.modal-title {
    color: #fff;
    text-align: center;
}
.modal-header>.close {
    width: 35px;
    height: 35px;
    background-color: #17324c !important;
    color: #fff;
    font-size: 15px;
    opacity: 1;
    position: absolute;
    float: right;
    right: -10px;
    margin-top: 0px !important;
    top: 10px;
    border-radius: 50%;
}
.modal-header>button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.loan-title {
    width: 100%;
    padding: 10px 0px;
    text-align: left;
    font-weight: 600;
	font-size: 13px;
}
.button-wrap {
    position: relative;
    text-align: center;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}
.button-label {
    display: inline-block;
    float: left;
    margin: 5px 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    font-size: 16px;
}
.yes-button:checked + .button-label {
    background: #2ECC71;
    color: #fff;
}
.no-button:checked + .button-label {
    background: #D91E18;
    color: #fff;
}
.maybe-button:checked + .button-label {
    background: #FF9800;
    color: #fff;
}
.loan-inte-fee-edit {
    margin: 0px auto;
    width: 80%;
}
.offer-input {
    display: flex;
    margin-top: 15px;
    width: 40%;
    float: left;
}
.offer-label {
    float: left;
    padding-right: 8px;
    font-size: 11px;
    width: 50%;
    line-height: 21px;
    text-align: right;
}
.offer-details {
    width: 50%;
    display: flex;
    margin: 0px;
}
.offer-details>button {
    width: 23%;
    font-size: 10px;
    float: left;
    margin: 0px;
    padding: 5px 0px;
    border-radius: 0px;
    border-radius: 0px;
}
.offer-desc {
    color: #fb4848;
}
.offer-incr {
    color: #4CAF50;
}
.btn-change {
    background-color: transparent;
    border: 0px;
}
.offer-details>input {
    width: 48%;
    height: 22px;
    border: none;
    margin: 0px;
    text-align: center;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid hsla(210, 50%, 13%, 0.13);
	font-size: 13px;
}
.app-amt-info>label{
	font-size:13px;
}
.app-amt-info>.form-control{
	font-size:13px;
}
.form-group>textarea {
    height: 80px;
    resize: none;
}
.loan-status-footer {
    padding: 15px 0px;
    text-align: center;
}
@media(max-width:400px){
	.button-label{
		margin: 5px 5px;
		padding: 5px 10px;
	}
}
@media(max-width:768px){
	.loan-title{
		padding:0px;
	}
	.button-label{		
		padding: 5px 15px;
	    font-size: 13px;
	}
	.loan-inte-fee-edit>.offer-input{
		float:unset;
	}
	.offer-input{
		width:100%;
	}
	.form-group>textarea {
		height: 69px;
		resize: none;
		font-size: 13px;
	}
}
/** bank loan ends **/

/** bank loan lists starts **/
.modal-body>table>thead>tr>th{
 color:#112233;
 font-weight:600;
 text-align:center;
 border-bottom:1px solid #112233;
}
.modal-body>table{
 margin-bottom:0px;
}
.modal-body>table>tbody>tr>td{
 text-align:center;
 padding:15px 5px;
 vertical-align:middle;
}
.modal-body>table>tbody>tr>td>img{
 width:90px;
 margin:0px auto;
 text-align:center;
}

.hide-down-arrow>a:after{
 display:none !important;
    content: "";
    margin-left: 5px;
    margin-top: 2px;
}
#valueBank>tr>td{
 border-right:1px solid #ddd;
 padding:7px 0px;
}
#valueBank>tr>td:last-of-type{
 border-right:none;
}
.banklist-title{
 color:#112233;
 font-size:25px;
 font-weight:500;
}
#valueBank>tr>td>.bg-success{
 background-color:#4caf50 !important;
 color:#fff !important;
 padding:3px 5px;
 box-shadow:0px 3px 5px 1px #ccc;
 border-radius:4px;
 font-size:12px;
}
#valueBank>tr>td>.bg-pending{
 background-color:#FFC107;
 color:#fff;
 padding:3px 8px;
 border-radius:4px;
 font-size:12px;
}
#valueBank>tr>td>.bg-reject{
 background-color:#f44336;
 color:#fff;
 padding:3px 8px;
 border-radius:4px;
 font-size:12px;
}
/** bank loan lists ends **/
/** bank loan status stars **/
.form-center{
	text-align: center;
    display: block;
}
.form-center>.form-group{
	display: inline-block;
	width: 70%;
}
.form-center>.form-group>label{
	float:left;
	font-size: 14px;
}
.fileUpload>span.btn-primary{
	position: absolute;
    top: 44%;
    right: 0;
}
