@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700,800');
@import url(../library/icons/font-awesome/css/font-awesome.min.css);
@import url(../library/icons/simple-line-icons/css/simple-line-icons.css);
@import url(../library/icons/linea-icons/linea.css);
@import url(../library/icons/themify-icons/themify-icons.css);
@import url(../library/icons/feather-icons/css/feathericon.min.css);
@import url(../library/animate.css);
@import url(../plugins/select2/select2.min.css);
@import url(base.css);
@import url(color.css);
@import url(button.css);
@import url(header.css);
@import url(menu.css);
@import url(footer.css);
@import url(widgets.css);
@import url(responsive.css);
@import url(tables.css);
@import url(modal.css);

/*    Form Horizontal
----------------------*/
.form-horizontal .control-label {
  padding-top: 12px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-menu li {
  font-size: 14px;
  padding: 5px 15px;
}
.is-invalid .form-control {
  border-color: #fc6180;
}
.invalid-feedback {
  color: #ef5350;
  display: none;
  margin-top: 0.25rem;
}
.is-invalid .invalid-feedback,
.is-invalid .invalid-tooltip {
  display: block;
}
.inbox-leftbar {
  width: 240px;
  float: left;
  padding: 0 20px 20px 10px;
}
.inbox-rightbar {
  margin-left: 250px;
}


.tdl-holder {
  margin: 0 auto;
}
.tdl-holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tdl-holder li {
  background-color: transparent;
  list-style: outside none none;
  margin: 0;
  padding: 10px 0;
}
.tdl-holder li span {
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tdl-holder label {
  cursor: pointer;
  display: block;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
  margin: 0 !important;
}
.tdl-holder label:hover {
  background-color: #eef5f9;
  color: #99abb4;
}
.tdl-holder label:hover a {
  display: block;
}
.tdl-holder label a {
  border-radius: 50%;
  color: #99abb4;
  display: none;
  float: right;
  font-weight: bold;
  line-height: normal;
  height: 16px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  width: 16px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tdl-holder input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.tdl-holder input[type="checkbox"] + i {
  background-color: #ffffff;
  display: block;
  height: 18px;
  position: absolute;
  top: 15px;
  width: 18px;
  z-index: 1;
}
.tdl-holder input[type="checkbox"]:checked + i::after {
  content: "\e64c";
  font-family: 'themify';
  display: block;
  left: -1px;
  position: absolute;
  top: -11px;
  z-index: 2;
}
.tdl-holder input[type="checkbox"]:checked ~ span {
  text-decoration: line-through;
}
.tdl-holder input[type="text"] {
  height: 60px;
  margin-top: 20px;
  font-size: 14px;
}

.student-data-table label {
  margin-right: 7px;
}
.student-data-table td span a {
  padding: 3px;
}

.dd-handle,
.dd3-content {
  color: #000!important;
}

.card-two {
  position: relative;
  margin: 0 !important;
  border: 0;
}
.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
}
.card-two header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-two header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-two h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-two h3::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-two .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}
.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}
.card-two .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #112233;
}
.card-two .contacts a:hover {
  color: #333;
}
.card-two .contacts a:hover .fa::before {
  color: #fff;
}
.card-two .contacts a:hover .fa::after {
  top: 0;
}
.card-two .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #112233;
  border-radius: 50%;
}
.card-two .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-two .contacts a .fa::after {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  background: #112233;
}
.card-two .contacts a:last-of-type .fa {
  line-height: 36px;
}


.favourite-menu-details .table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
}
.favourite-menu-details .favourite-menu-img {
  border-right: 1px solid #e7e7e7;
  margin-bottom: 25px;
  width: 120px;
}
.favourite-menu-details .favourite-menu-des {
  margin-top: 40px;
  margin-right: 465px;
}
.favourite-menu-details .favourite-menu-des .product_name h4 {
  font-weight: 600;
  text-align: left;
}
.favourite-menu-details .favourite-menu-button {
  margin-top: 40px;
}
.favourite-menu-details .favourite-menu-button .prdt_add_to_curt {
  padding-top: 10px;
}
.favourite-menu-details .favourite-menu-button .prdt_add_to_curt button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}
.order-list-item table tbody > tr > td {
  padding-top: 8px;
  border-top: 1px solid #e7e7e7;
}
.order-list-item table thead > tr > th {
  border-bottom: 1px solid #e7e7e7;
}
.order-list-item thead {
  background: #4680ff;
  text-align: left;
}
.order-list-item thead th {
  color: #ffffff;
  font-weight: bold;
}
.order-list-item tbody {
  background: #ffffff;
  text-align: left;
}
.order-list-item tbody td {
  color: #444444;
}
.booking-system-feedback {
  top: 5px !important;
  right: 15px;
}
.booking-system-top {
  padding-top: 15px;
}
.media-body {
  vertical-align: middle;
}
.media-body span {
  font-size: 10px;
  color: #4680ff;
}
.media-body p {
  color: #99abb4;
  line-height: 15px;
}
.example {
  overflow: hidden;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  -moz-box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  box-shadow: 1px 1px 2px 0px rgba(200, 200, 200, 0.3);
  background-color: #eef5f9;
  text-align: justify;
}
.example p {
  padding: 20px 20px 0px 20px;
  font-size: 12px;
}
.box,
.simple {
  height: 300px;
}
.scrollable-auto-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollable-auto-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable-auto {
  overflow: auto;
}
.vmap {
  width: 100%;
  height: 400px;
}
.dark-browse-input-box {
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px;
  color: #000000;
  border: 1px solid #e7e7e7;
}
.dark-browse-input-box .dark-input-button {
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  background: #ffffff;
  border: none !important;
  color: #4680ff;
}
.dark-browse-input-box .dark-input-button i {
  font-weight: bold;
  font-size: 17px;
}
.dark-browse-input-box .dark-input-button:hover {
  background: #ffffff;
  color: #4680ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none !important;
}
.dark-browse-input-box .dark-input-button:focus {
  outline: none;
  border: none !important;
  background: none !important;
}

.media-stats-content .stats-content {
  padding: 30px 0px;
}
.media-stats-content .stats-content .stats-digit {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.media-stats-content .stats-content .stats-text {
  font-size: 14px;
}
.media-stats-content .stats-content .table td {
  line-height: 40px!important;
}
.boxshadow-none {
  box-shadow: none;
}
.widget-card-circle i {
  font-size: 30px;
  left: 0;
  line-height: 97px;
  right: 0;
  text-align: center;
}
.widget-line-list li {
  display: inline-block;
  font-size: 1.2em;
  line-height: 27px;
  padding: 5px 20px 0 15px;
}
.widget-line-list li span {
  font-size: 14px;
}

.user-card-absolute {
  top: 115px;
  left: 0;
  right: 0;
}

.social-pad {
  padding: 40px 30px 110px;
}

.blockquote-box {
  border-right: 5px solid #E6E6E6;
  margin-bottom: 25px;
}
.blockquote-box .square {
  width: 100px;
  min-height: 50px;
  margin-right: 22px;
  text-align: center!important;
  background-color: #E6E6E6;
  padding: 20px 0;
}

.error-box {
  height: 100%;
  position: fixed;
  width: 100%;
}
.error-box .footer {
  left: 0;
  right: 0;
  width: 100%;
}
.error-body {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.error-body h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 210px;
  color: #444c67;
}
@media (min-width: 768px)
{
.mini-sidebar .page-wrapper {
    margin-left: 60px;
}
}