.pagination > li:first-child > a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a {
  color: #263238;
}
.pagination > li > a:focus {
  background-color: #f2f4f8;
}
.pagination > li > a:hover {
  background-color: #f2f4f8;
}
.pagination > li > span {
  color: #263238;
}
.pagination > li > span:focus {
  background-color: #f2f4f8;
}
.pagination > li > span:hover {
  background-color: #f2f4f8;
}
.pagination > .active > a {
  background-color: #112233;
  border-color: #112233;
}
.pagination > .active > a:focus {
  background-color: #112233;
  border-color: #112233;
}
.pagination > .active > a:hover {
  background-color: #112233;
  border-color: #112233;
}
.pagination > .active > span {
  background-color: #112233;
  border-color: #112233;
}
.pagination > .active > span:focus {
  background-color: #112233;
  border-color: #112233;
}
.pagination > .active > span:hover {
  background-color: #112233;
  border-color: #112233;
}
.pagination-split li {
  margin-left: 5px;
  display: inline-block;
  float: left;
}
.pagination-split li:first-child {
  margin-left: 0;
}
.pagination-split li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.pager li > a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #263238;
}
.pager li > span {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #263238;
}


.amcharts-graph-g2 .amcharts-graph-stroke {
  stroke-dasharray: 3px 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-animation: am-moving-dashes 1s linear infinite;
  animation: am-moving-dashes 1s linear infinite;
}
@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
.lastBullet {
  -webkit-animation: am-pulsating 1s ease-out infinite;
  animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}
@keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}
.amcharts-graph-column-front {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}
.amcharts-graph-column-front:hover {
  fill: #496375;
  stroke: #496375;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.amcharts-graph-g3 {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 500%;
  stroke-dasharray: 0 /;
  /* fixes IE prob */
  stroke-dashoffset: 0 /;
  /* fixes IE prob */
  -webkit-animation: am-draw 40s;
  animation: am-draw 40s;
}
@-webkit-keyframes am-draw {
  0% {
    stroke-dashoffset: 500%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}
@keyframes am-draw {
  0% {
    stroke-dashoffset: 500%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

.dataTables_wrapper {
  padding-top: 10px;
}
.dt-buttons {
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 5px;
  float: right;
}
.dt-buttons .dt-button {
    background: #ff9800 none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 3px;
    padding: 5px 15px;
    border: none;
    float: right;	
    cursor: pointer;
}
.dt-buttons .dt-button:hover {
  background: #2f3d4a none repeat scroll 0 0;
}
.dataTables_info,
.dataTables_length {
  display: inline-block;
  font-size: 14px;
}
.dataTables_length {
  margin-top: 10px;
  font-size: 14px;
}
.dataTables_length select {
  background-color: transparent;
  background-image: linear-gradient(#112233, #112233), linear-gradient(#b1b8bb, #b1b8bb);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border: 0 none;
  padding-bottom: 5px;
  transition: background 0s ease-out 0s;
}
.dataTables_length select:focus {
  background-image: linear-gradient(#112233, #112233), linear-gradient(#b1b8bb, #b1b8bb);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  outline: medium none;
  transition-duration: 0.3s;
}
.dataTables_filter {
  float: right;
  margin-top: 10px;
  font-size: 14px;
}
.dataTables_filter input {
  background-color: transparent;
  background-image: linear-gradient(#112233, #112233), linear-gradient(#b1b8bb, #b1b8bb);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: none;
  margin-left: 10px;
  transition: background 0s ease-out 0s;
}
.dataTables_filter input:focus {
  background-image: linear-gradient(#112233, #112233), linear-gradient(#b1b8bb, #b1b8bb);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  outline: medium none;
  transition-duration: 0.3s;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  background: #f6f9fa;
}
table.dataTable thead .sorting_asc::after {
  content: "\f0de";
  cursor: pointer;
  font-family: FontAwesome;
  margin-left: 10px;
}
table.dataTable thead .sorting_desc::after {
  content: "\f0dd";
  cursor: pointer;
  font-family: FontAwesome;
  margin-left: 10px;
}
table.dataTable thead .sorting::after {
  color: rgba(50, 50, 50, 0.5);
  content: "\f0dc";
  cursor: pointer;
  font-family: FontAwesome !important;
  margin-left: 10px;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  padding-top: 0.25em;
  text-align: right;
  font-size: 14px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #67757c;
  cursor: pointer;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #112233 !important;
    background: #ff9800;
    border: 1px solid #ff9800;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #67757c;
  cursor: default;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #112233;
  border: 1px solid #112233;
  color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #67757c;
  outline: medium none;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.tablesaw-bar .btn-group label {
  color: #67757c !important;
}
.dt-bootstrap {
  display: block;
}
.paging_simple_numbers .pagination .paginate_button {
  background: #ffffff none repeat scroll 0 0;
  padding: 0;
}
.paging_simple_numbers .pagination .paginate_button:hover {
  background: #ffffff none repeat scroll 0 0;
}
.paging_simple_numbers .pagination .paginate_button a {
  border: 0 none;
  padding: 2px 10px;
}
.paging_simple_numbers .pagination .paginate_button.active a,
.paging_simple_numbers .pagination .paginate_button:hover a {
  background: #112233 none repeat scroll 0 0;
  color: #ffffff;
}

thead tr th {
  color: #455a64;
  font-weight: 500;
}
thead tr th:last-child {
  text-align: right;
}
tbody tr th {
  color: #455a64;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}
tbody tr td {
  font-family: 'Poppins', sans-serif;
  color: #99abb4;
}
tbody tr td:last-child {
  text-align: right;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 20px;
  vertical-align: top;
}
.table > thead > tr > th {
  border-bottom: 1px solid #e7e7e7;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  background: #323231; 
  vertical-align: middle;
  text-align: center;
}
.table {
  margin-bottom: 0;
}
.table .badge {
  text-transform: uppercase;
}
.table-striped tbody tr:nth-of-type(odd){
	    background-color: rgb(255, 255, 255) !important;
}
.table td,
.table th {
  padding: 0.55rem;
}
.table > tbody > tr > td {
  color: #111;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.table .round-img img {
  width: 38px;
}
.table > tbody > tr > td> .dealer-name{
	font-weight: 600;
    color: #112233;
    text-align: center;
}
.table > tbody > tr > td> .dealer-location{
    color: #99abb4;
    text-align: center;
	font-size: 12px;
	word-break: break-word;
}
.table > tbody > tr > td > .dealer-img{
	position:relative;
}
.table > tbody > tr > td > .dealer-img > img{
	width:100px;
	height:auto;
}
.table > tbody > tr > td>.count-val{
	border: 1px solid #112233;
    position: relative;
    background: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 2px;
	left: 82px;
    top: -20px;
}
.dealer-img:after {
 content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#000,rgba(255, 255, 255, 0));
	opacity: .6; 
	width: 100px;
}
.table > tbody > tr > td.dealer-sno{
	text-align:center;
}
.table > tbody > tr > td>.action_val {
    width: auto;
    margin: 0px auto;
    display: inline-block;
    padding: 10px 0px;
}
.table > tbody > tr > td>.bank_list>.action_val>.banklist {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 6px;
}
.table > tbody > tr > td>.bank-list {
    color: #fff !important;
}
.table > tbody > tr > td.loan-type>span {
    display: block;
}
.table > thead > tr > .loans-date{
}
.table > tbody > tr > .loan-type>span>span.lead_code{
    background-color: #0f77a9;
    color: #fff;
    display: inline-block;
    padding: 0px 6px;
}
.table > tbody > tr > td.verify-no>.loan-cust-det {
    display:block;
	padding: 2px 0px;
}
.table > tbody > tr > td.verify-no>.loan-cust-det>.k_id {
	font-weight:400;
}
.table > tbody > tr > td.verify-no>.loan-cust-det>.loan-no {
    background-color: #fb4848;
    color: #fff;
    display: inline-block;
    padding: 0px 6px;
}
.table > tbody > tr > td.verify-no>.loan-cust-det>.loan-yes {
    background-color: #28a745;
    color: #fff;
    display: inline-block;
    padding: 0px 6px;
}
.table > tbody > tr > td.car-info>.loan-cust-det {
    display: block;
	padding: 2px 0px;
}
.loan-details>.loan-cust-det {
    display: block;
	padding: 2px 0px;
}

.car-info>.loan-cust-det>.k_id {
	font-weight:400;
}
.loan-details>.loan-cust-det>.k_id {
	font-weight:400;
}
.cus-doc-view>span {
    display: block;
    margin: 10px 5px;
}
.bg-doc-view {
    background-color: #2196F3;
    color: #fff;
    padding: 4px 8px;
    box-shadow: 0px 3px 5px 1px rgba(33, 150, 243, 0.51);
    border-radius: 4px;
    font-size: 12px;
}
.cus-doc-view>span {
    display: block;
    margin: 10px 5px;
}
.bg-crsr-view>i {
    display: block;
    font-size: 16px;
    font-weight: 600;
	font-style: initial;
}
.bg-crsr-view>img {
    width: 110px;
}
.score-poor {
    background-color: #f15a29;
	box-shadow:0px 3px 5px 1px rgba(15, 88%, 55%, 0.51);
}
.score-fair {
    background-color: #fff200;
	box-shadow:0px 3px 5px 1px rgba(255, 242, 0, 0.51);
}
.score-good {
    background-color: #8dc63f;
	box-shadow:0px 3px 5px 1px rgba(141, 198, 63, 0.51);
}
.score-excellent {
    background-color: #00a651;
	box-shadow:0px 3px 5px 1px rgba(0, 166, 81, 0.51);
}
.bg-crtk-view {
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}
.cus-doc-view>span>a {
    color: #fff !important;
    width: auto;
}
.cus-doc-view>.score-fair>a {
    color: #112233 !important;
    width: auto;
}
.bank-action>.action_val {
    display: block;
    margin: 1px 5px;
}
.bg-gen-contact {
    background-color: #26A65B;
    color: #fff;
    padding: 4px 8px;
    box-shadow: 0px 3px 5px 1px #ccc;
    border-radius: 4px;
    font-size: 12px;
}
.bg-gen-contact>a{
	color:#fff;
}
.bg-gen-contact>a:hover,.bg-gen-contact>a:active,.bg-gen-contact>a:focus{
	color:#fff !important;
}
.action_val {
    width: auto;
    margin: 0px auto;
    display: inline-block;
    padding: 10px 0px;
}
.bank_list>.action_val>.banklist {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 6px;
}
.loan-type>.loan-cust-det>.k_id {
	font-weight:400;
}
.bg-success1 {
    background-color: #4caf50;
    color: #fff !important;
    padding: 3px 5px;
    box-shadow: 0px 3px 5px 1px rgba(76, 175, 80, 0.51);
    border-radius: 4px;
    font-size: 12px;
}
.bank_list>.action_val>span {
    margin: 5px 6px;
}
.comment_box {
    float: left;
    background-color: #03A9F4;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(3, 169, 244, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
}
.bank-list {
    color: #fff !important;
}
.open_chat {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.success-approved-loan {
    float: left;
    background-color: #00a651;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(0, 166, 81, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
	color: #fff;
}
.rejected-approved-loan {
	float: left;
    background-color: #fe2223;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(254, 34, 35, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
	color: #fff;
}
.pause-approved-loan {
   float: left;
    background-color: #ffc107;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(255, 193, 7, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
	color: #fff;
}
.bank_list>.action_val>span {
    margin: 5px 6px;
}
.edit-app-file{
	float: left;
    background-color: #ff9800;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(255, 152, 0, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
}
.back-app-file {
    float: left;
    background-color: #334250;
    width: 25px;
    height: 25px;
    box-shadow: 0px 4px 7px 0px rgba(51, 66, 80, 0.51);
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    font-size: 10px;
}
.back-act-btn {
    float: left;
    background-color: #03A9F4;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding: 0px 6px;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0px 3px 9px 0px rgba(199, 98%, 48%, 0.51);
}
.back-act-btn>a {
    color: #fff !important;
}
.open_chat:hover,.open_chat:focus,.open_chat:active{
	color:#fff;
}
@media (min-width:1024px){
.table > tbody > tr > td.dealer-info{
	width:20%;
}
.table > thead > tr > th.dealer-no{
	width:5%;
}
.table > tbody > tr > td {
	word-break: break-word;
}
}

table.dataTable>tbody>tr.child span.dtr-title{
	display: inline-block;
    min-width: 75px;
    font-weight: bold;
    margin-bottom: 5px;
	color: #112233;
    background: #e0f3f9;
    width: 100%;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, table.dataTable.dtr-inline.collapsed>tbody>tr>th.child, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{
	padding:0px;
}
table.dataTable>tbody>tr.child ul.dtr-details>li{
	padding:0px !important;
}
table.dataTable>tbody>tr.child span.dtr-title{
	padding:5px 0px;
}
@media (max-width: 768px)
{
	.dtr-data>span {
		margin: 3px 6px !important;
		margin-bottom: 10px !important;
	}
	.dtr-data>span {
		float: left;
		display: inline-block;
		margin: 0px 5px;
		width: 100%;
	}
	.loan-type>span {
		margin-bottom: 5px;
	}
	.table > tbody > tr > td.verify-no>.loan-cust-det{
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.table > tbody > tr > td.car-info>.loan-cust-det{
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.table > tbody > tr > td.loan-details>.loan-cust-det{
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	#example_filter>label, #example_length>label{
		font-size:13px;
	}
}
@media (max-width: 450px)
{	
	.dataTables_filter {
		float: left;
	}
}
.dtr-data>.action_val>span {
    float: left;
    margin: 5px 5px;
}
.dtr-data>.bg-gen-contact {
    padding: 5px 14px;
    width: auto;
    margin: 0px auto;
    margin-bottom: 5px;
    float: unset;
}
.dtr-data>.bg-doc-view {
    padding: 5px 14px;
    width: auto;
    margin: 0px auto;
    margin-bottom: 5px;
    float: unset;
	display: inline-block;
}
.dtr-data>.score-excellent, .dtr-data>.score-poor, .dtr-data>.score-fair, .dtr-data>.score-good {
    padding: 5px 14px;
    width: auto;
    margin: 5px auto;
    margin-bottom: 5px;
    float: unset;
	display: inline-block;
}
.dtr-data>.score-excellent>a, .dtr-data>.score-poor>a, .dtr-data>.score-good>a{
	color:#fff;
}
.dtr-data>.score-fair>a{
	color:#112233;
}
.dtr-details>li>span {
    display: grid;
}
.approved-list{
	color:#112233 !important;
}
.do-status{
	width:10%;
}
.approved-bank-row>.do-status-pending{
    color: #F9A602;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
	display:block;
	text-transform:capitalize;
}
.approved-bank-row>.do-status-pending:after {
  content: "\2026";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  width: 0px;
  color: #F9A602;
  font-weight: 400;
}
.approved-bank-row>.do-status-inprogress{
    color: #03a9f4;
    margin: 3px auto;
    border-radius: 4px;
    font-size: 12px;
	display:block;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 1s infinite;
    animation: typing 1s infinite;
}
.approved-bank-row>.do-status-generated{
    color: #26A65B;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
	display:block;
	text-transform:capitalize;
}

@-webkit-keyframes typing { from { width: 0; } }

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
.approved-bank-row>.do-status-completed{
	background-color: #FFC107;
    color: #fff;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
}
.dtr-data>.bank-select{
	margin: 5px auto;
	width:95%;
}
.table>thead {
    background-color: #323231;
    color: #adadad;
}