.map {
  width: 100%;
  height: 400px;
}
.chat-sidebar {
  background-color: #eef5f9;
  border-left: 1px solid #e7e7e7;
  position: fixed;
  right: -240px;
  bottom: 0;
  top: 55px;
  width: 240px;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.chat-sidebar .user-name {
  font-family: 'Poppins', sans-serif;
}
.chat-sidebar .content {
  font-family: 'Poppins', sans-serif;
}
.chat-sidebar .textarea {
  font-family: 'Poppins', sans-serif;
}
.chat-sidebar .seen {
  font-family: 'Poppins', sans-serif;
}
.chat-sidebar.is-active {
  right: 0;
}
.chat-user-search .input-group-addon {
  background: #ffffff;
  border-radius: 0px;
  border: 0px;
}
.chat-user-search .form-control {
  border: 0px;
}

/*    Home Chat Widget
---------------------------------*/
.chat-widget .chat_window {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  background-color: #f8f8f8;
  overflow: hidden;
}
.chat-widget .messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  min-height: 350px;
  overflow: scroll;
}
.chat-widget .messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.chat-widget .messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.chat-widget .messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 100px);
  min-width: 100px;
  position: relative;
}
.chat-widget .messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.chat-widget .messages .message .text_wrapper::after {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 13px;
  margin-top: 0px;
}
.chat-widget .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chat-widget .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.chat-widget .messages .message.left .text_wrapper::after,
.chat-widget .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.chat-widget .messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.chat-widget .messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.chat-widget .messages .message.left .text {
  color: #c48843;
}
.chat-widget .messages .message.right .text_wrapper::after,
.chat-widget .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.chat-widget .messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.chat-widget .messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.chat-widget .messages .message.right .text {
  color: #45829b;
}
.chat-widget .messages .message.appeared {
  opacity: 1;
}
.chat-widget .bottom_wrapper {
  position: relative;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  bottom: 0;
}
.chat-widget .bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.chat-widget .bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 45px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.chat-widget .bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.chat-widget .bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.chat-widget .bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #ffffff;
}
.chat-widget .message_template {
  display: none;
}
.testimonial-widget-one .testimonial-content {
  text-align: center;
}
.testimonial-widget-one .testimonial-text {
  margin-bottom: 15px;
}
.testimonial-widget-one .testimonial-author-position {
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: -5px;
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}
.testimonial-widget-one .testimonial-author {
  padding-top: 15px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.testimonial-widget-one .testimonial-author-img {
  border-radius: 100px;
  height: 50px !important;
  width: 50px !important;
  margin: 0 auto;
}
[contenteditable]:hover,
[contenteditable]:focus {
  background: #93b5ff;
}
.control-bar {
  position: relative;
  z-index: 100;
  background: #4680ff;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}
.control-bar .slogan {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 2rem;
}
.control-bar label {
  margin: 0px;
  color: #ffffff;
}
.control-bar a {
  margin: 0;
  padding: .5em 1em;
  background: #ffffff;
  color: #455a64;
}
.control-bar a:hover {
  background: #93b5ff;
}
.control-bar input {
  border: none;
  background: #93b5ff;
  max-width: 30px;
  text-align: center;
  color: #455a64;
}
.control-bar input:hover {
  background: #93b5ff;
}
.hidetax .taxrelated {
  display: none;
}
.showtax .notaxrelated {
  display: none;
}
.hidedate .daterelated {
  display: none;
}
.showdate .notdaterelated {
  display: none;
}
.details input {
  display: inline;
  margin: 0 0 0 .5rem;
  border: none;
  width: 55px;
  min-width: 0;
  background: transparent;
  text-align: left;
}

/*    Widget One
---------------------------*/
.stat-widget-one .stat-icon {
  vertical-align: top;
}
.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block;
}
.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px;
}
.stat-widget-one .stat-text {
  font-size: 14px;
  color: #99abb4;
}
.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #455a64;
}
/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: center;
}
.stat-widget-two .stat-digit {
  font-size: 40px;
  font-weight: 700;
  color: #455a64;
}
.stat-widget-two .stat-text {
  font-size: 20px;
  margin-bottom: 5px;
  color: #99abb4;
}
.stat-widget-two .progress {
  height: 8px;
  margin-bottom: 0;
  margin-top: 20px;
  box-shadow: none;
}
.stat-widget-two .progress-bar {
  box-shadow: none;
}
/*    Widget Three
---------------------------*/
.stat-widget-three .stat-icon {
  display: inline-block;
  padding: 33px;
  position: absolute;
  line-height: 21px;
}
.stat-widget-three .stat-icon i {
  font-size: 30px;
  color: #ffffff;
}
.stat-widget-three .stat-content {
  text-align: center;
  padding: 15px;
  margin-left: 90px;
}
.stat-widget-three .stat-digit {
  font-size: 30px;
}
.stat-widget-three .stat-text {
  padding-top: 7px;
}
.home-widget-three .stat-icon {
  line-height: 19px;
  padding: 27px;
}
.home-widget-three .stat-digit {
  font-size: 24px;
  font-weight: 300;
  color: #455a64;
}
.home-widget-three .stat-content {
  text-align: center;
  margin-left: 60px;
  padding: 13px;
}
.stat-widget-four {
  position: relative;
}
.stat-widget-four .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-four i {
  display: block;
  font-size: 36px;
}
.stat-widget-four .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-four .stat-heading {
  font-size: 20px;
}
.stat-widget-five .stat-icon {
  border-radius: 100px;
  display: inline-block;
  position: absolute;
}
.stat-widget-five i {
  border-radius: 100px;
  display: block;
  font-size: 36px;
  padding: 30px;
}
.stat-widget-five .stat-content {
  margin-left: 100px;
  padding: 24px 0;
  position: relative;
  text-align: right;
  vertical-align: middle;
}
.stat-widget-five .stat-heading {
  text-align: right;
  padding-left: 80px;
  font-size: 20px;
  font-weight: 200;
}
.stat-widget-six {
  position: relative;
}
.stat-widget-six .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-six i {
  display: block;
  font-size: 36px;
}
.stat-widget-six .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-six .stat-heading {
  font-size: 16px;
  font-weight: 300;
}
.stat-widget-six .stat-text {
  font-size: 12px;
  padding-top: 4px;
}
.stat-widget-seven .stat-heading {
  text-align: center;
}
.stat-widget-seven .gradient-circle {
  text-align: center;
  position: relative;
  margin: 30px auto;
  display: inline-block;
  width: 100%;
}
.stat-widget-seven .gradient-circle i {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 35px;
  font-size: 30px;
}
.stat-widget-seven .stat-footer {
  text-align: center;
  margin-top: 30px;
}
.stat-widget-seven .stat-footer .stat-count {
  padding-left: 5px;
}
.stat-widget-seven .count-header {
  color: #252525;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.stat-widget-seven .stat-count {
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}
.stat-widget-seven .analytic-arrow {
  position: relative;
}
.stat-widget-seven .analytic-arrow i {
  font-size: 12px;
}
/* Stat widget Eight
--------------------------- */
.stat-widget-eight {
  padding: 15px;
}
.stat-widget-eight .header-title {
  font-size: 20px;
  font-weight: 300;
}
.stat-widget-eight .ti-more-alt {
  color: #878787;
  cursor: pointer;
  left: -5px;
  position: absolute;
  transform: rotate(90deg);
}
.stat-widget-eight .stat-content {
  margin-top: 50px;
}
.stat-widget-eight .stat-content .ti-arrow-up {
  font-size: 30px;
  color: #26dad2;
}
.stat-widget-eight .stat-content .stat-digit {
  font-size: 24px;
  font-weight: 300;
  margin-left: 15px;
}
.stat-widget-eight .stat-content .progress-stats {
  color: #aaadb2;
  font-weight: 400;
  position: relative;
  top: 10px;
}
.stat-widget-eight .progress {
  margin-bottom: 0;
  margin-top: 30px;
  height: 7px;
  background: #EAEAEA;
  box-shadow: none;
}
.stat-widget-nine .all-like {
  float: right;
}
.stat-widget-nine .stat-icon i {
  font-size: 22px;
}
.stat-widget-nine .stat-text {
  font-size: 14px;
}
.stat-widget-nine .stat-digit {
  font-size: 14px;
}
.stat-widget-nine .like-count {
  font-size: 30px;
}
.horizontal {
  position: relative;
}
.horizontal:before {
  background: #ffffff;
  bottom: 0;
  content: "";
  height: 38px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
}
.widget-ten span i {
  color: #ffffff;
  opacity: 0.5;
}
.widget-ten h5 {
  color: #ffffff;
}
.widget-ten p {
  color: #ffffff !important;
  opacity: 0.75;
}
@media (max-width: 768px) {
  .card {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .stat-widget-five .stat-heading {
    padding-left: 0;
  }
  .stat-widget-two .stat-digit {
    font-size: 16px;
  }
  .stat-widget-two .stat-text {
    font-size: 14px;
  }
  .stat-widget-three .stat-digit {
    font-size: 20px;
  }
  .stat-widget-four .stat-heading {
    font-size: 18px;
  }
  .stat-widget-three .stat-icon {
    padding: 26px;
  }
}
.round-widget {
  border: 1px solid red;
  border-radius: 100px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}
.recent-comment .media {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  padding-top: 10px;
}
.recent-comment .media-left {
  padding-right: 25px;
}
.recent-comment .media-left img {
  border-radius: 100px;
  width: 40px;
}
.recent-comment .media-body {
  position: relative;
}
.recent-comment .media-body h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.recent-comment .media-body p {
  margin-bottom: 10px;
  line-height: 16px;
  color: #99abb4;
}
.recent-comment .comment-date {
  position: absolute;
  right: 0;
  top: 0;
  color: #455a64;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.comment-action {
  float: left;
}
.comment-action .badge {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.comment-action i {
  padding: 0 5px;
}
.recent-meaasge {
  margin-top: 15px;
}
.recent-meaasge .media {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recent-meaasge .media-left {
  padding-right: 25px;
}
.recent-meaasge .media-left img {
  border-radius: 100px;
  width: 50px;
}
.recent-meaasge .media-body {
  position: relative;
}
.recent-meaasge .media-body h4 {
  font-size: 16px;
}
.recent-meaasge .media-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.meaasge-date {
  float: right;
  color: #455a64;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}
