.buyer-admin-cover{
	width:100%;
	height:300px;
	overflow:hidden;
	position:relative;
}
.buyer-admin-cover>img{
	width:100%;
}
.profile-social-link>p{
	font-size:14px;
	margin:5px 0px;
	font-weight:400;
	color:#6c757d;
}
.profile-social-link>p>i{
	color:#f26124;
	font-size:13px;
	padding-right:5px;
}
.edit-profile-pic{
	position:absolute;
	bottom:10px;
	float:right;
	right:10px;
}
.edit-profile-pic>a{
	background-color:#3949AB;
	padding:6px 20px;
	border-radius:10px;
	color:#fff;
	font-size:13px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:0.8px;
}
.edit-profile-pic>a:hover{
	box-shadow:0 1px 10px 1px rgba(63, 81, 181, 0.7686274509803922);
}
.edit-profile-pic>a>i{
	font-size:12px;
	padding-right:10px;
}
.profile-info-position{
	margin-top:10px;
}
.profile-info-view{
	margin-top:10px;
}
.auto-poppup-alert{
	position: absolute;
    top: 50px;
    right: 20px;
    float: right;
    z-index: 9999;
}
.alert-notify{
	color: #ffffff;
    background-color: #009688;
    border-color: #009688;
}
/* event creation button css */
.event-type-option{
	clear: both;
	margin: 15px auto;
	width:100%;
}
.event-type-group>label {
  width:300px;
  border-radius: 5px;
  border: 1px solid #1080c5;
}
/* hide input */
.event-type-group>input.radio:empty {
	margin-left: -999px;
	opacity:0;
}
/* style label */
.event-type-group>input.radio:empty ~ label {
	position: relative;
    float: left;
    margin-top: 10px;
	padding:15px 10px;
    color: #1080c5;
    background-color: hsla(203, 85%, 42%, 0.09019607843137255);
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddedf7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: none;
}
/* toggle hover */
.event-type-group>input.radio:hover:not(:checked) ~ label {
	color: #C2C2C2;
	background-color:#1080c5;
	box-shadow:0px 3px 26px 0px rgba(16, 128, 197, 0.52);
}
.event-type-group>input.radio:hover:not(:checked) ~ label {
	color: #52a2d4;
}
/* toggle on */
.event-type-group>input.radio:checked ~ label {
	text-indent: .9em;
	color:#fff;
	border-color:transparent;
	box-shadow:0px 3px 26px 0px rgba(16, 128, 197, 0.52);
	background-color: #1080c5;
}
.event-type-group>input.radio:hover ~ .event-id{
	color:#fff;
}

/* event creation button css ends */
.event-id{
	font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    line-height: 30px;
    color: #1080c5;
}
.event-name{
	font-size: 14px;
	line-height:15px;
    font-weight: 500;
    display: block;
    color:#2196F3;
}
.event-sub-price{
	font-size: 16px;
    font-weight: 600;
    display: block;
    color: #03A9F4;
}
.event-type-group{
	float:left;
	width:33.3333%;
}
.event-type-option>h3{
	font-size:24px;
	font-weight:700;
	letter-spacing:1px;
	margin-bottom:5px;
}
.event-type-option>h3:after{
	content: '';
    display: block;
    position: relative;
    border-bottom: 5px solid #ef5716;
    width: 70px;
    margin-top: 0px;
}
.event-type-option>p{
	font-size:14px;
	color:#9a9a9a;
	font-weight:500;
}
.event-type-group>label:hover .event-name{
	color:#fff;
}
.event-type-group>input.radio:checked ~ .event-name{
	color:#fff !important;
}
.create-event-details{
	display:none;
}
.event-info{
	border-right:1px solid #ccc;
	float:Left;
	width:20%;
	text-align:center;
}
.event-pay-option{
	width:20%;
	float:left;
	text-align:center;
}
.event-label{
	color:#a5a5a5;
	font-size:14px;
}
.event-info>p{
	margin-bottom:0px;
	font-weight:600;
	font-size:15px;
	line-height:15px;
}
.pay_now{
	background-color:#1080c5;
	color:#fff;
	padding:10px 15px;
	font-size:12px;
	border-radius:5px;
	text-transform:uppercase;
	font-weight:600;
}
.pay_now:hover{
	color:#79c9fb;
	box-shadow:0 1px 10px 1px rgba(16, 128, 197, 0.32);	
}
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.usertype-radio>input[type="radio"]:empty
{
  display: none;
}
.usertype-radio>input[type="radio"] ~ span:before
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
}

.usertype-radio>input[type="radio"]:before
{
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.usertype-radio>input[type="radio"]:checked ~ span:before
{
  content: '\2714';
  text-indent: .3em;
  color: #fff;
  background-color: #5cb85c;
  line-height: 2.5em;
}
.inner-page-img{
	background-color:#000;
	position:relative;
	height:100px;
}
.page-title{
	color:#fff;
	font-size:18px;
	padding:40px 0px;
	margin:0px;
	font-weight:700;
}
.page-title:after{
	content:'';
	display:block;
	border-bottom:3px solid #fe413b;
	width:70px;
	margin-top:3px;
	
}
.event-detail-upload{
	margin:0px auto;
	width:35%;
}
.custom-file{
	margin-top:50px;
}
.download-sample-xl{
	display:block;
	padding:0px;
	font-size:13px;
	font-weight:500;
}
.custom-file>label{
	margin-bottom:0px;
}
.submit-event{
	text-align:center;
}
.event-full-details>h3{
	font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.event-full-details>h3:after{
	content: '';
    display: block;
    position: relative;
    border-bottom: 5px solid #ef5716;
    width: 70px;
    margin-top: 0px;
}
.event-full-details>p{
	font-size: 14px;
    color: #9a9a9a;
    font-weight: 500;
}
.event-info-left{
	width:40%;
	float:left;
	margin-right:10%;
}
.event-company-info{
	margin:15px 0px;
}
.event-company-info>h4{
	font-size:18px;
	font-weight:600;
	margin-bottom:0px;
	line-height:13px;
}
.event-company-info>span{
	font-size:12px;
	font-weight:500;
	color:#c5c5c5;
}
.event-auction-details{
	width:50%;
	text-align:right;
	float:left;
}
.event-auc-name>h4{
	font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 13px;
}
.event-auc-name>p{
	font-size: 13px;
    font-weight: 600;
    color: #FF9800;
    line-height: 15px;
}
.auc-creat-time>h4{
	font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 13px;
}
.auc-creat-time>p{
	font-size: 13px;
    font-weight: 600;
    color: #FF9800;
    line-height: 15px;
}
.auc-creat-time>h4>i{
	color:#c6c6c6;
}
.event-auc-status>h4{
	font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 13px;
}
.event-auc-status>p{
	font-size: 13px;
    font-weight: 600;
    color: #FF9800;
    line-height: 15px;
}
.action-icon{
	font-size:14px;
	margin:0px 5px;
}
.view-icon{
	color:#2196f3;
}
.edit-icon{
	color:#FF9800;
}
.delete-icon{
	color:#F44336;
}
.access-icon{
	color:#4caf50;
}
.add-invite-btn{
	background-color: #116b9e;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
.add-invite-btn:hover{
	color:#47A4DA;
}
.add-invite-btn>i{
	padding-right:5px;
}
/* invite mail collapse css */
.controls {
  margin-bottom: 10px;
}
.panel-title .trigger:before {
  content: '\e082';
  font-family: 'Glyphicons Halflings';
  vertical-align: text-bottom;
}
/* Invite mail collapse css ends */
.event-invite-accordion{
	margin:0px 0px;
}
.event-invite-list{
	width:100%;
	display:inline-block;
}
.event-invite-info{
	float:left;
	width:12%;
	margin:0px 4px;
}
.event-invite-info>p{
	margin-bottom: 0px;
    font-size: 15px;
    line-height: 6px;
    font-weight: 600;
}
.event-invite-info>span{
	font-size:13px;
	font-weight:500;
}
.add-group-info{
	width:100%;
}
.add-group-info{
	margin-top:20px;
}
.add-group-info>p{
	margin-bottom: 0px;
    font-size: 13px;
    color: #ef6323;
    font-weight: 600;
}
.add-auctioner-email{
	width:50%;
	max-width:auto;
	padding:0px 5px;
	font-size:13px;
}