/* New package  css */
.auction-package{
	list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0
}
.auction-package >li {
    width: 31%;
    height: 300px;
    display: inline-block;
    margin: 12px
}
.circle {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    height: 272px;
    width: 77%;
	border-radius:50%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari and Chrome */
    -o-transition: all 0.5s;
    /* Opera */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.circle>p{
	margin-bottom:4px;
	text-decoration:underline;
}
.circle h6 {
    margin: 15px 0 15px 0;
    padding: 0;
}

.circle span.icon i {
    position: relative;
    padding: 0;
    font-size: 3.8em;
    line-height: 1.15em;
}

.circle span.price-large {
    font-size: 3.8em;
    line-height: 1.15em;
    font-weight: 700;
    font-family: "Lato", "Times New Roman", serif;
}

.price-dollar {
    position: relative;
    top: -17px;
    font-size: 26px;
    font-weight: 400;
}
/* New package css ends */

/* General Classes */
.button {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  padding: 8px 18px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Table Default Style */
.table-default {
  background-color: #fff;
  text-align: center;
  padding: 24px 14px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom:10px;
}

.table {
  /* Table Header */ }
  .table__header--icon {
    max-width: 100%; }
  .table__header--price {
    position: relative; }
  .table__content {
    padding: 10px 0;
    /* Table List */ }
    .table__content--list li {
      font-size: 0.95rem;
      font-weight: 600;
	  list-style:none;
      padding: 6px 0; }
      .table__content--list li.muted {
        opacity: 0.35; }
  .table__footer {
    margin-top: 0px; }

/*=======================
  Table Style 3
=========================*/
.table3 {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12); }
  .table3 .table__header--icon {
    height: 80px;
    padding: 20px 0; }
  .table3 .table__header--title {
    font-size: 1.25rem;
    font-weight: 700; }
  .table3 .table__content--list {
    padding: 20px 0;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6; }
  .table3 .table__header--price {
    font-size: 1.6rem;
    font-weight: 700;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #4568dc), to(#b06ab3));
    background: -webkit-linear-gradient(left, #4568dc 0, #b06ab3 100%);
    background: -o-linear-gradient(left, #4568dc 0, #b06ab3 100%);
    background: linear-gradient(to right, #4568dc 0, #b06ab3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
	.table3 .table__header--price>span>i{
		    font-size: 1.6rem;
    font-weight: 700;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #4568dc), to(#b06ab3));
    /* background: -webkit-linear-gradient(left, #4568dc 0, #b06ab3 100%); */
    background: -o-linear-gradient(left, #4568dc 0, #b06ab3 100%);
    /* background: linear-gradient(to right, #4568dc 0, #b06ab3 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	}
  .table3 .button {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #4568dc;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #4568dc), to(#b06ab3));
    background: -webkit-linear-gradient(left, #4568dc 0, #b06ab3 100%);
    background: -o-linear-gradient(left, #4568dc 0, #b06ab3 100%);
    background: linear-gradient(to right, #4568dc 0, #b06ab3 100%);
    color: #fff;
    font-size: 22px;
    padding: 0;
    border-radius: 100%;
    margin: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
